<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- saved from url=(0035)https://testflightapp.com/register/ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" class="login"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Official Rules | Assassins</title> 
  
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection">
    
    
</head>
<body>
	<div id="page">
    	<div id="header">
	        <div class="container">
    	        <div id="branding">
        	            <h1><img src="images/logo.png"/></h1>
            	</div>
        	</div>
    	</div>
	
        <div id="content">
        	<div class="container">
				<form>
				    <div class="header field target">
        				<h1>Official Rules</h1>
   					</div><!--END #.field.header-->
    				
                    <div class="field">
						<h1>Introduction</h1>
<hr/>
<p>Assassins is a game where everyone in the game is assigned a target, who is someone else in the game. You then find your target and eliminate him (hit him with an allowable "weapon"), while attempting to avoid their own targeters. After eliminating your target, you go after his target. The last player alive is the winner. You can eliminate a person only by successfully hitting his or her body with a plastic spoon(Please be curteous in regards to the target's face &amp; other sensitive parts). The game ends when only one person has not been eliminated, or on 07/30/2011 11:59 PM</p>
<br/>
<p><strong>Please try very hard to not actually hurt anyone or damage anyone’s possessions.</strong></p>
<br/>
<h2>Outside Assistance</h2>

<p>No one is allowed to eliminate your target but you. Others may ’’take bullets’’ for you but they cannot actually eliminate anyone.</p>
<br/>
<h2>Weapons</h2>
<p>Plastic Spoons (only as melee weapons, not thrown; the scoop end is the deadly one). Using anything else will result in an automatic elimination. We define the term spoon as the <a href="http://oed.com/view/Entry/187406">Oxford English Dictionary</a> does for definition 2.a.: <br/><br/><em>A utensil consisting essentially of a straight handle with an enlarged an hollowed end-piece (the bowl), used for conveying soft or liquid food to the mouth, or employed in the culinary preparation or other handling of this."</em>
<strong>RULES UPDATE
<br/>Only plain plastic spoons that must be in direct contact with the skin of your hand. Otherwise the kill is invalid. Targets you are responsible for calling out invalid kills.
</strong>
</p>
<br/>
<h1>Safe Zones</h1>
<hr/>
<p>Safe Zones are areas in which you cannot eliminate or be eliminated by anyone. If someone attempts to eliminate you in a safe zone, please inform him that you are in a safe zone and that their ’’elimination’’ is invalid.</p>
<br/>
<strong>Safe Zones Include:</strong>

<ul class="tab">
<li>Places where class is in session</li>
<li>Floor or Judical or Camp Wide Meetings</li>
<li>Player’s Living Space’s</li>
<li>Bathrooms</li>
<ul class="tab2"><li><strong>E Tower Residents:</strong> If you are on <br/>your floor wearing only a towel you<br/> are safe from elimination</li></ul>
<li>Places of Worship</li>
<li>Libraries</li>
<li>Shuttle / Excursion Buses run by the Pre-College<br/> Program</li>
<li>Counselors in their Pre-College Polo Shirts cannot<br/> be eliminated nor eliminate others.</li>
<li>Counselors can only eliminate targets on the floor<br/> they live on after Curfew</li>
<li>Sign-In Desk</li>
</ul>
<br/>
<p>Your target is the person you are currently assigned to eliminate. When you eliminate your target, you will be assigned a new target. When the game begins, you will be sent an e-mail that contains your target’s information (name and email address). You will be given a new target within 24 hours of a valid reported elimination.</p>
<br/>
<h2>Stunning</h2>
<p>If you are attacked by someone with a spoon, you can under self defense attack this person back. If you hit this agent with the curved edge of your spoon before they hit you then they are stunned for 24 hours and cannot attack anyone. If you have been stunned you cannot attack anyone except if you are attacked in which case you can stun other people.</p>
<br/>
<h2>Reporting Eliminations</h2>
<p>When you eliminate someone you should report the elimination as soon as possible.</p>
<p>You are handed a passcode that will uniquely identify you to the system, do not share this passcode to anyone unless you have been killed. When you have killed your target you can log onto preassassins.com/YOURPASSCODE to insert your opponents pass code and mark them as killed. If you have been killed, you <strong>have</strong> to give your opponent your passcode to mark the kill.</p>
<br/>
<p>However, we strongly encourage all players to report their eliminations as soon as possible so that games can run smoothly. Also, when you die, your targeter wills be reassigned to target the player whom you were targeting so you should give your target to your targeter when he eliminates you.</p>
<br/>
<h2>Automatic Eliminations</h2>
<ul class="tab">
<li>72 Hours of Inactivity</li>
<li>Using Metal Spoons</li>
<li>Violating Curfew for Assassins</li>
</ul>
                    </div><!--END #field-->
				</form>
        </div>
        
        <div id="footer">
        	<ul>
            	<li><a href="http://www.facebook.com/precassassins">Like Us</a></li>
            	<li><a href="/leaderboard">Leaderboard</a></li>
            	<li><a href="/rules">Official Rules</a></li>
            	<li><a href="/privacy">Privacy Policy</a></li>
                <li class="last"><a href="/terms">Terms of Use</a></li>
            </ul>
        </div><!--END #footer--> 
    </div>
    <div id="footer" class="container">
    </div>
<div id="rad-grad"></div>
</div></body></html>
